.app {
  width: 100%;
  height: 100vh;
  
  @include media('sm') {
    @include clearfix;
  }
}

.app-content {
  @include media('xs') {
    width: 100%;
  }

  @include media('sm') {
    width: calc(100% - 45px);
  }
}